.clockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.time {
    font-size: 72px;
    font-weight: 800;
}

.timeLight {
    color: var(--main-light-color);
}

.timeDark {
    color: var(--main-dark-color);
}

.clock {
    width: 400px;
    height: 400px;
}

.clockOutsideLight {
    fill: var(--border-light-color);
}

.clockOutsideDark {
    fill: var(--border-dark-color);
}

.clockInsideLight {
    fill: var(--main-light-color);
}

.clockInsideDark {
    fill: var(--main-dark-color);
}

@media (max-width: 1280px) {
    .clockContainer {
        order: 1;
    }

    .time {
        font-size: 54px;
    }

    .clock {
        width: 200px;
        height: 200px;
    }
}