.lightButton {
    position: absolute;
    right: 0;
    top: 0;
    fill: var(--icon-light-color);
    width: 80px;
    height: 80px;
}

.darkButton {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    fill: var(--icon-dark-color);
    width: 80px;
    height: 80px;
}