.lightButton {
    fill: var(--icon-light-color);
}

.darkButton {
    fill: var(--icon-dark-color);
}

.buttonMode {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

.buttonMode:hover {
    width: 90px;
    height: 90px;
}