.buttonMode {
    position: absolute;
    cursor: pointer;
    top: 80px;
    right: 80px;
    width: 80px;
    height: 80px;
    transition: all 0.1s ease-in-out;
}

.buttonMode:hover {
    top: 77px;
}

.lightButton {
    fill: var(--icon-light-color);
}

.darkButton {
    fill: var(--icon-dark-color);
}

@media (max-width: 1280px) {
    .buttonMode {
        position: fixed;
        top: 40px;
        right: 40px;
    }

    .buttonMode:hover {
        top: 37px;
    }
}

@media (max-width: 480px) {
    .buttonMode {
        width: 60px;
        height: 60px;
        top: 20px;
        right: 20px;
    }

    .buttonMode:hover {
        top: 17px;
    }
}