/*les 100vh pour le format pc et on passe sur 100% en mobile sinon y'a un bug de hauteur*/
.background {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
}

.backgroundDark {
    background-color: var(--bg-dark-color);
}

.backgroundLight {
    background-color: var(--bg-light-color);
}

.cloud {
    z-index: -1;
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 500px;
}

.cloudLight {
    fill: var(--main-light-color);
}

.cloudDark {
    fill: var(--main-dark-color);
}

@media (max-width: 1280px) {
    .background {
        height: 100%;
    }

    .cloud {
        display: none;
    }
}