.background {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.backgroundDark {
    background-color: var(--bg-dark-color);
}

.backgroundLight {
    background-color: var(--bg-light-color);
}

.cloud {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 500px;
}

.cloudLight {
    fill: var(--main-light-color);
}

.cloudDark {
    fill: var(--main-dark-color);
}